body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* https://github.com/codepo8/css-fork-on-github-ribbon */
.viewongithub a {
    background: #6495ED;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1.25rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}
.viewongithub a:hover {
    background: #c11;
    color: #fff;
}
.viewongithub a::before,
.viewongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}
.viewongithub a::after {
    bottom: 1px;
    top: auto;
}
@media screen and (min-width: 800px) {
    .viewongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }
    .viewongithub a {
        width: 200px;
        position: absolute;
        top: 45px;
        right: -45px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
    }
}